body{background-color:rgb(208, 255, 0);
color:rgb(140, 0, 255);
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif}
h1{color:blue}
a{color:rgb(255, 0, 0)}
a:hover{color:rgb(49, 138, 138)}
ul>li{font-weight:bold;color:rgb(252, 7, 190)}
hl+p{background-color:black;border-radius:6px;padding:12px}
ul li:hover{color:rgb(0, 0, 0)}
ul li::before{content:"🥶😰⚽"}
 a::after{content:"😱👌👌"}
 p::first-letter{font-size:300%;color:black}
